<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multer</title>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>
<body>
    <form action="" class="multerForm" name="multerForm">
        <input type="text" class="multerForm__input" placeholder="Имя файла">
        <input type="file" class="multerForm__inputFile" name="inputFile">
        <button type="submit">OK</button>
    </form>
    <script src="main.js"></script>
</body>
</html>